<header>
    <nav>
        <div class="logo"><img src="images/wayfinder.png" alt="" srcset=""></div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/find">Find Transport</a></li>
            <li><a href="/transfer">Transport Routes</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
        
    </nav>
</header>