<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/style3.css">
    <link rel="stylesheet" href="styles/utils2.css">
    <link rel="stylesheet" href="styles/responsive2.css">
</head>

<body background="images/bgm.png">
    <%- include("partials/header.ejs") %>
    <main>
        <h1 class="page-title">Showing Searched Results</h1>
        <div class="search-box">
            <div class="result-box">
                <h2>From:</h2>
                <p>Kaptai Rastar Matha</p>
            </div>
            <div class="result-box">
                <h2>To:</h2>
                <p>Sea Beach</p>
            </div>
        </div>
        <div id = "result">
            <% console.log("sds");%>
        </div>
    </main>
</body>

</html>