<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles/style4.css">
    <link rel="stylesheet" href="styles/utils2.css">
    <link rel="stylesheet" href="styles/responsive2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      
    />
  </head>
  
  <body>
    <%- include("partials/header.ejs") %>
  <div class="container">
    <h1>BUS ROUTES</h1>

    <div class="image-1">
      <p class="front">Achim Paribahan</p>
      <p class="travel_from">Gaptoli</p>
      <p class="arrow">&#8596;</p>
      <p class="travel_to">Demra Staff Quater</p>
      <img src="bus-icon-600nw-582174946.webp" />
    </div>
    <div class="image-2">
      <p class="front">Achim Paribahan</p>
      <p class="travel_from">Gaptoli</p>
      <p class="arrow">&#8596;</p>
      <p class="travel_to">Demra Staff Quater</p>
      <img src="LT_471_(LTZ_1471)_Arriva_London_New_Routemaster_(19522859218).jpg"
      />
    </div>
    <div class="image-3">
      <p class="front">Achim Paribahan</p>
      <p class="travel_from">Gaptoli</p>
      <p class="arrow">&#8596;</p>
      <p class="travel_to">Demra Staff Quater</p>
      <img
        style="border: 2px solid black"
        src="white-tour-bus-10177874.webp"
      />
    </div>
    <div class="image-4">
      <p class="front">Achim Paribahan</p>
      <p class="travel_from">Gaptoli</p>
      <p class="arrow">&#8596;</p>
      <p class="travel_to">Demra Staff Quater</p>
      <img
        src="LT_471_(LTZ_1471)_Arriva_London_New_Routemaster_(19522859218).jpg"
      />
    </div>
  </div>
    
  <%- include("partials/footer.ejs") %>
    <script src="public/javascript/main.js"></script>
  </body>
</html>
