@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
:root {
    --main-bg-color: #545454;
}

*{
    margin: 0;
    padding: 0;
}

body>img{
    height: 20px;
}
header{
    background-color: var(--main-bg-color);
}
nav{
    display: flex;

}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 225px;
    padding: 0 25px;
}
nav ul{
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding: 0 23px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    font-weight: bolder;
    color: rgb(0, 164, 230);
}
body {
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 600px;
    margin: 200px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.search-box {
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

label {
    display: block;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--main-bg-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: Arial, Helvetica, sans-serif;
}

button:hover {
    background-color: #0056b3;
}
.text-center{
    text-align: center;
}
#hehe{
  background-color: var(--main-bg-color);
  height: 5vh;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 100%;
  font-style: normal;
}
footer{
    background-color: var(--main-bg-color);
  height: 12vh;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}